.whole{
    background-color: coral;
}
.content {
    margin: auto;
    width: 50%;
    background-color: aqua;
}
.twitt,.share, .generate  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2%;
}

.twitt:hover,.share:hover, .generate:hover  {
    background-color: mediumorchid;
    color: white;
}

body {
   margin: 5%;
}

.twitter{
   
}

.facebook{
    
}

.generate{
    margin-left: 24%;
}
p{
    margin-left: 80%;
    margin-bottom: 10%;
    margin-right: 2%;
}

.text{
    margin: 10%;
    padding: 5%;
}
.title{
    margin: auto;
    width: 30%;
}

h4{
    width: 30%;
    margin: auto;
    padding: 6%;
}